{% extends 'base.html.twig' %}

{% block title %}Home Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}

{% block body %}
    <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        .body-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 1em auto;
            width: 100%;
            font: 18px/1.5 sans-serif;
        }

        .card {
            width: calc(33.33% - 10px);
            margin-bottom: 20px;
        }
        .create-new {
            display: flex;
            margin-top: 20px;
            border-radius: 8px;
            border: 1px solid #00b3ff;
            width: 150px;
        }
    </style>

    {% if app.user %}
    <a href="{{ path('app_category_new') }}" class="create-new btn btn-success">Create New Category</a>
    {% endif %}

    {% if categories %}
        {% for category in categories %}
            <div class="body-wrapper">
                <div class="card">
                    <div class="card-body">
                        <p>{{ category.name }}</p>
                        <p>{{ category.feedLastUpdatedAt ? category.feedLastUpdatedAt|date('Y-m-d H:i:s') : '' }}</p>
                        <div class="actions">
                            <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary">View</a>
                            <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-records">No records found</p>
    {% endif %}


{% endblock %}
